html {
    width: 100%;
}

body {
    background-color: #262626;
}

body .navbar {
    position: relative;
    background-color: #313131;
    height: 50px;
    border: 0;
    border-radius: 0;
    color: #FA6503
}

#nav_words a {
    color: #FA6503;
}

body .navbar_logo {
    position: relative;
    top: -7px;
    width: 200px;
    height: auto;
}

body .navbar_logo img {
    width: 70%;
}

.index_navtab .nav-tabs > li,
.index_navtab .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */
    width: auto;
}

.index_navtab .nav-tabs,
.index_navtab .nav-pills {
    text-align: center;
    border-color: transparent;
}

.index_navtab .nav.active a {
    background-color: white !important;
    color: #FA6503;
}

.index_navtab .nav-tabs a {
    width: 500px;
    background-color: transparent;
    border-bottom-color: white !important;
    color: #FA6503;
}

.index_navtab .nav-tabs a:hover {
    background-color: transparent !important;
    border-color: #FA6503 !important;
}

.channel_row {
    width: auto;
    text-align: center;
    color: white;
}

.channel_item {
    background-color: #313131;
    display: inline-block;
    vertical-align: middle;
    width: 315px;
    height: 375px;
    margin: 20px;
}

.channel_pic {
    position: relative;
    width: 315px;
    height: 170px;
}

.channel_item img {
    width: 100%;
    height: 100%;
}

.channel_about {
    position: relative;
    text-align: center;
    margin-left: 10px;
    width: 300px;
    height: 200px;
}

.channel_about_top {
    position: relative;
    text-align: center;
    right: -90px;
    top: 17px;
}

.channel_owner {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    left: -50px;
}

.channel_cont {
    position: absolute;
    display: inline-block;
    vertical-align: center;
    left: 150px;
}

.channel_about_bottom {
    position: relative;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 20px;
    top: 20px;
}

.channel_name {
    padding-left: 20px;
    padding-right: 20px;
}

.channel_content {
    position: relative;
    top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap:break-word
}


/*.live_follow{
    width: 60px;
    height: 30px;
    border-radius: 0%;
    background-color: transparent;
    border: 2px solid #FA6503;
}*/

.live_top {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.live_talk {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 400px;
    background-color: #313131;
}

.fb-video {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: -30px;
}

.live_top_top {
    display: inline-block;
}

.live_name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: 560px;
    padding-bottom: 20px;
    left: -30px;
}

.progress {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 10px;
}

.border_up {
    position: relative;
    width: 1080px;
    margin-right: 120px;
    margin-top: 7px;
    border-bottom: 3px solid white;
    text-align: left;
}

.border_down {
    position: relative;
    width: 1080px;
    margin-right: 120px;
    margin-top: 7px;
    border-bottom: 3px solid white;
    text-align: left;
}

.live_bottom_a {
    text-align: left;
}

.live_pic {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    padding: 15px;
    width: 200px;
    height: 170px;
}

.live_pic img {
    width: 100%;
    height: 100%;
}

.live_contant {
    display: inline-block;
    vertical-align: middle;
    width: 850px;
    height: 170px;
    margin-top: 15px;
    padding: 15px;
}

.live_bottom_b_box {
    text-align: left;
    margin-bottom: 40px;
}

.live_bottom_b_item {
    width: 300px;
    height: 200px;
    background-color: #97F0FE;
    margin: 20px;
    display: inline-block;
    vertical-align: middle;
}

.live_bottom_b_item img {
    width: 100%;
    height: 100%;
}

.live_bottom_b_words {
    width: 300px;
    height: 20px;
    background-color: #313131;
    text-align: center;
}

.live_bottom_b_words p {
    display: inline-block;
    vertical-align: middle;
}


/*talk*/ 
.show_navtab .nav-tabs > li,
.show_navtab .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */
    width: auto;
}

.show_navtab .nav-tabs,
.show_navtab .nav-pills {
    text-align: center;
    border-color: transparent;
}

.show_navtab .nav.active a {
    background-color: white !important;
    color: #FA6503;
}

.show_navtab .nav-tabs a {
    width: 196px;
    background-color: transparent;
    /*border-bottom-color: white !important;*/
    color: #FA6503;
}

.show_navtab .nav-tabs a:hover {
    background-color: transparent !important;
    border-color: #FA6503 !important;
}
.imggg2  {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.live_talk_word {
    position: relative;
    text-align: center;
    overflow: auto;
    color: white;
    width: 400px;
    height: 300px;
    padding-bottom: 30px;
}
.live_talk_word th{
    text-align: center;
}

.live_talk_l {
    position: relative;
    text-align: left;
    width: 100px;
    height: auto;
    /*left: 5px;*/
    word-wrap:break-word;
    
}
.talk_w{
    width: auto;
    height:100px
}
.live_talk_r {

    position: relative;
    text-align: left;
    width: 200px;
    height: auto;
    /*right: -200px;*/
    
    
}

.live_talk_submit {
    position: relative;
    margin-top: 20px;
    color: black
}
#tk{
    position: relative;
}
.user_name{
    margin-top: 15.5px;
}
.glyphicon-plus{
    width: 15px;
    height: 15px;
}
#channel_item_a{
    color: white;
}
#channel_item_a:hower{
    color: white;
}